# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
poetry.lock

# pyenv
.python-version

# ZSH autocomplete
bin/zsh/.zcompdump

example_file_store.db

# test coverage
.coverage
